In [6]:
import torch
from transformers import BertForQuestionAnswering, BertTokenizer
import torch
import warnings
from transformers import BertForQuestionAnswering, BertTokenizer, logging

# Suppress warnings globally
warnings.filterwarnings("ignore")

# Suppress Hugging Face Transformers logging
logging.set_verbosity_error()

# Load BERT model and tokenizer
model = BertForQuestionAnswering.from_pretrained('bert-large-uncased-whole-word-masking-finetuned-squad')
tokenizer = BertTokenizer.from_pretrained('bert-large-uncased-whole-word-masking-finetuned-squad')

# Function to get an answer from a short paragraph
def answer_question(question, answer_text):
    input_ids = tokenizer.encode(question, answer_text)

    sep_index = input_ids.index(tokenizer.sep_token_id)
    num_seg_a = sep_index + 1
    num_seg_b = len(input_ids) - num_seg_a
    segment_ids = [0] * num_seg_a + [1] * num_seg_b

    assert len(segment_ids) == len(input_ids)

    outputs = model(torch.tensor([input_ids]), token_type_ids=torch.tensor([segment_ids]))
    start_scores = outputs.start_logits
    end_scores = outputs.end_logits

    answer_start = torch.argmax(start_scores)
    answer_end = torch.argmax(end_scores)
    tokens = tokenizer.convert_ids_to_tokens(input_ids)

    answer = tokens[answer_start]
    for i in range(answer_start + 1, answer_end + 1):
        if tokens[i].startswith('##'):
            answer += tokens[i][2:]
        else:
            answer += ' ' + tokens[i]

    return answer

# Function to compute probability for selecting the best chunk
def answer_question_probability(question, answer_text):
    input_ids = tokenizer.encode(question, answer_text)
    sep_index = input_ids.index(tokenizer.sep_token_id)
    num_seg_a = sep_index + 1
    num_seg_b = len(input_ids) - num_seg_a
    segment_ids = [0] * num_seg_a + [1] * num_seg_b

    outputs = model(torch.tensor([input_ids]), token_type_ids=torch.tensor([segment_ids]))
    start_scores = outputs.start_logits
    end_scores = outputs.end_logits

    probability = max(start_scores.tolist()[0]) + max(end_scores.tolist()[0])
    return probability

# Function to determine best section using probability
def answer_question_longfile_probability(question, answer_text, max_num_sentences, overlap_num_sentences):
    content = answer_text.splitlines()
    len_sentence = len(content)
    piece_num = - (- (len_sentence - max_num_sentences) // (max_num_sentences - overlap_num_sentences)) + 1
    prob = [0] * piece_num

    for jj in range(piece_num):
        start_idx = (max_num_sentences - overlap_num_sentences) * jj
        end_idx = min(start_idx + max_num_sentences, len_sentence)
        content_temp = " ".join(content[start_idx:end_idx])

        prob[jj] = answer_question_probability(question, content_temp)

    max_prob = max(prob)
    max_index = prob.index(max_prob)
    return max_index

# Function for handling long paragraphs
def answer_question_longfile(question, answer_text, max_num_sentences=12, overlap_num_sentences=5):
    input_ids = tokenizer.encode(question, answer_text)

    if len(input_ids) <= 512:
        return answer_question(question, answer_text)

    max_index = answer_question_longfile_probability(question, answer_text, max_num_sentences, overlap_num_sentences)
    content = answer_text.splitlines()
    len_sentence = len(content)
    piece_num = - (- (len_sentence - max_num_sentences) // (max_num_sentences - overlap_num_sentences)) + 1

    if max_index == 0:
        content_temp = " ".join(content[:max_num_sentences])
    elif max_index == piece_num - 1:
        content_temp = " ".join(content[(max_num_sentences - overlap_num_sentences) * (piece_num - 1):])
    else:
        start_idx = (max_num_sentences - overlap_num_sentences) * max_index
        end_idx = min(start_idx + max_num_sentences, len_sentence)
        content_temp = " ".join(content[start_idx:end_idx])

    return answer_question(question, content_temp)

In [8]:
dataset_path = "/Users/kamalnadhkundla/Desktop/codebert/dataset5/"
import os
import pandas as pd

# Define the question
question = "What is the initial fee?"

# Store results in a DataFrame
results = []

# Process each text file in the dataset5 folder
for filename in os.listdir(dataset_path):
    if filename.endswith(".txt"):  # Ensure it's a text file
        file_path = os.path.join(dataset_path, filename)
        
        with open(file_path, "r", encoding="utf-8") as file:
            text = file.read()
        
        # Generate answer
        answer = answer_question_longfile(question, text)
        
        # Store result
        results.append({"File Name": filename, "Generated Answer": answer})

# Convert results to a DataFrame
df = pd.DataFrame(results)

In [9]:
df

,File Name,Generated Answer
0,15 Keller Williams.pdf-all_items_item_5.txt,"$ 35 , 000"
1,3 KFC.pdf-all_items_item_5.txt,"$ 45 , 000"
2,24 Applebees.pdf-all_items_item_5.txt,the same for all franchisees subject to this o...
3,45 Zaxbys.pdf-all_items_item_5.txt,"$ 35 , 000"
4,42 Jimmy John's.pdf-all_items_item_5.txt,"$ 5 , 000 , if you are a franchisee in good st..."
5,32 Servpro.pdf-all_items_item_5.txt,"$ 90 , 000"
6,20 Sonic Drive-In.pdf-all_items_item_5.txt,"up to $ 30 , 000"
7,46 Carl's Jr..pdf-all_items_item_5.txt,"$ 25 , 000"
8,47 Baskin Robbins.pdf-all_items_item_5.txt,"$ 12 , 500"
9,1 McDonald's.pdf-all_items_item_5.txt,"$ 45 , 000 lump sum initial franchise fee on t..."
10,5 Ace Hardware.pdf-all_items_item_5.txt,"$ 5 , 000"
11,36 Denny's.pdf-all_items_item_5.txt,"$ 10 , 000"
12,40 Paris Baguette.pdf-all_items_item_5.txt,fifty thousand dollars
13,28 Buffalo Wild Wings.pdf-all_items_item_5.txt,"$ 45 , 000"
14,30 Berkshire Hathaway.pdf-all_items_item_5.txt,"$ 25 , 000"
15,4 Burger King.pdf-all_items_item_5.txt,"$ 25 , 000"
16,6 Chick-fil-A.pdf-all_items_item_5.txt,we do not refund any initial fee
17,31 The UPS Store.pdf-all_items_item_5.txt,"$ 7 , 500"
18,29 Planet Fitness.pdf-all_items_item_5.txt,"$ 10 , 000 per location"
19,25 Express Employment Professionals.pdf-all_it...,"$ 40 , 000"
20,10 Taco Bell.pdf-all_items_item_5.txt,"$ 22 , 500"
21,27 Jack In The Box.pdf-all_items_item_5.txt,"$ 50 , 000 for each franchised restaurant"
22,37 Culver's.pdf-all_items_item_5.txt,"$ 55 , 000"
23,23 Arby's.PDF-all_items_item_5.txt,"$ 37 , 500"
24,44 Home Instead.pdf-all_items_item_5.txt,"$ 54 , 000"
25,39 Jersey Mikes.pdf-all_items_item_5.txt,"$ 43 , 500"
26,14 Dunkin'.pdf-all_items_item_5.txt,"$ 90 , 000"
27,52 Midas.pdf-all_items_item_5.txt,"$ 35 , 000"
28,35 Five Guys.pdf-all_items_item_5.txt,"$ 25 , 000"
29,54 Homevesters.pdf-all_items_item_5.txt,"$ 85 , 000"
30,49 Snap-On Tools.pdf-all_items_item_5.txt,"$ 16 , 000"
31,12 Pizza Hut.pdf-all_items_item_5.txt,"$ 25 , 000"
32,9 Circle K.pdf-all_items_item_5.txt,"$ 25 , 000"
33,13 REMAX.pdf-all_items_item_5.txt,"$ 25 , 000"
34,41 Hardee's.pdf-all_items_item_5.txt,"$ 25 , 000"
35,22 Papa John's.pdf-all_items_item_5.txt,"$ 5 , 000 to $ 25 , 000"
36,33 IHOP.pdf-all_items_item_5.txt,"$ 50 , 000"
37,18 Popeyes Louisiana Kitchen.pdf-all_items_ite...,"$ 50 , 000"
38,19 Dairy Queen.pdf-all_items_item_5.txt,"$ 45 , 000"
39,50 Anytime Fitness.pdf-all_items_item_5.txt,"$ 42 , 500"
40,38 Wingstop.pdf-all_items_item_5.txt,"$ 20 , 000"
41,8 Domino's.pdf-all_items_item_5.txt,prior to us issuing the applicable agreement
42,17 Panera Bread.pdf-all_items_item_5.txt,thirty - five thousand dollars
43,16 Tim Hortons.pdf-all_items_item_5.txt,"$ 25 , 000"
44,11 Wendy's.pdf-all_items_item_5.txt,"$ 20 , 000"
45,43 Vavoline Instant Oil Change.pdf-all_items_i...,"$ 30 , 000"
46,7 Subway.pdf-all_items_item_5.txt,"franchise fee6 , $ 1 , 000"
47,51 Jiffy Lube.pdf-all_items_item_5.txt,"$ 35 , 000"
48,26 Chili's.pdf-all_items_item_5.txt,"$ 60 , 000"
49,21 Little Caesars.pdf-all_items_item_5.txt,"$ 20 , 000"

In [34]:
dataset_path = "/Users/kamalnadhkundla/Desktop/codebert/dataset5/"
import os
import pandas as pd

# Define the question
question = "How much is the initial franchise fee?"

# Store results in a DataFrame
results = []

# Process each text file in the dataset5 folder
for filename in os.listdir(dataset_path):
    if filename.endswith(".txt"):  # Ensure it's a text file
        file_path = os.path.join(dataset_path, filename)
        
        with open(file_path, "r", encoding="utf-8") as file:
            text = file.read()
        
        # Generate answer
        answer = answer_question_longfile(question, text)
        
        # Store result
        results.append({"File Name": filename, "Generated Answer": answer})

# Convert results to a DataFrame
df = pd.DataFrame(results)
df

,File Name,Generated Answer
0,15 Keller Williams.pdf-all_items_item_5.txt,"$ 35 , 000"
1,3 KFC.pdf-all_items_item_5.txt,"$ 45 , 000"
2,24 Applebees.pdf-all_items_item_5.txt,"$ 35 , 000"
3,45 Zaxbys.pdf-all_items_item_5.txt,"$ 35 , 000"
4,42 Jimmy John's.pdf-all_items_item_5.txt,"$ 35 , 000"
5,32 Servpro.pdf-all_items_item_5.txt,"$ 90 , 000"
6,20 Sonic Drive-In.pdf-all_items_item_5.txt,"up to $ 30 , 000"
7,46 Carl's Jr..pdf-all_items_item_5.txt,"$ 25 , 000"
8,47 Baskin Robbins.pdf-all_items_item_5.txt,"$ 12 , 500"
9,1 McDonald's.pdf-all_items_item_5.txt,"$ 45 , 000"
10,5 Ace Hardware.pdf-all_items_item_5.txt,"$ 5 , 000"
11,36 Denny's.pdf-all_items_item_5.txt,"$ 10 , 000"
12,40 Paris Baguette.pdf-all_items_item_5.txt,fifty thousand dollars
13,28 Buffalo Wild Wings.pdf-all_items_item_5.txt,"$ 45 , 000"
14,30 Berkshire Hathaway.pdf-all_items_item_5.txt,"$ 25 , 000"
15,4 Burger King.pdf-all_items_item_5.txt,"$ 25 , 000"
16,6 Chick-fil-A.pdf-all_items_item_5.txt,we
17,31 The UPS Store.pdf-all_items_item_5.txt,"$ 9 , 950"
18,29 Planet Fitness.pdf-all_items_item_5.txt,"$ 20 , 000"
19,25 Express Employment Professionals.pdf-all_it...,"$ 40 , 000"
20,10 Taco Bell.pdf-all_items_item_5.txt,"$ 22 , 500"
21,27 Jack In The Box.pdf-all_items_item_5.txt,"$ 50 , 000"
22,37 Culver's.pdf-all_items_item_5.txt,"$ 55 , 000"
23,23 Arby's.PDF-all_items_item_5.txt,"$ 37 , 500"
24,44 Home Instead.pdf-all_items_item_5.txt,"$ 54 , 000"
25,39 Jersey Mikes.pdf-all_items_item_5.txt,"$ 18 , 500"
26,14 Dunkin'.pdf-all_items_item_5.txt,"$ 0 to $ 90 , 000"
27,52 Midas.pdf-all_items_item_5.txt,"$ 35 , 000"
28,35 Five Guys.pdf-all_items_item_5.txt,"$ 25 , 000"
29,54 Homevesters.pdf-all_items_item_5.txt,"$ 85 , 000"
30,49 Snap-On Tools.pdf-all_items_item_5.txt,"$ 16 , 000"
31,12 Pizza Hut.pdf-all_items_item_5.txt,"$ 25 , 000"
32,9 Circle K.pdf-all_items_item_5.txt,"$ 25 , 000"
33,13 REMAX.pdf-all_items_item_5.txt,"$ 25 , 000"
34,41 Hardee's.pdf-all_items_item_5.txt,"$ 15 , 000"
35,22 Papa John's.pdf-all_items_item_5.txt,"$ 5 , 000 to $ 25 , 000"
36,33 IHOP.pdf-all_items_item_5.txt,"between $ 0 to $ 300 , 000"
37,18 Popeyes Louisiana Kitchen.pdf-all_items_ite...,"$ 50 , 000"
38,19 Dairy Queen.pdf-all_items_item_5.txt,"$ 45 , 000"
39,50 Anytime Fitness.pdf-all_items_item_5.txt,"$ 42 , 500"
40,38 Wingstop.pdf-all_items_item_5.txt,"$ 20 , 000"
41,8 Domino's.pdf-all_items_item_5.txt,"$ 0 to $ 10 , 000"
42,17 Panera Bread.pdf-all_items_item_5.txt,thirty - five thousand dollars
43,16 Tim Hortons.pdf-all_items_item_5.txt,"$ 25 , 000"
44,11 Wendy's.pdf-all_items_item_5.txt,"$ 20 , 000"
45,43 Vavoline Instant Oil Change.pdf-all_items_i...,"$ 30 , 000"
46,7 Subway.pdf-all_items_item_5.txt,"$ 1 , 000"
47,51 Jiffy Lube.pdf-all_items_item_5.txt,"$ 35 , 000"
48,26 Chili's.pdf-all_items_item_5.txt,"$ 60 , 000"
49,21 Little Caesars.pdf-all_items_item_5.txt,"$ 20 , 000"

In [35]:
pd1=pd.read_csv("orginaldata5.csv")
print("Columns in pd1:", pd1.columns)
print("Columns in df:", df.columns)

Columns in pd1: Index(['File Name ', 'True Initial value', 'factor 1', 'factor 2', 'factor 3',
       'factor 4', ' factor 5 ', 'factor 6'],
      dtype='object')
Columns in df: Index(['File Name', 'Generated Answer'], dtype='object')

In [28]:
pd1.columns = pd1.columns.str.strip().str.lower()
df.columns = df.columns.str.strip().str.lower()

# Rename columns to match correctly
pd1.rename(columns={"file name": "filename"}, inplace=True)
df.rename(columns={"file name": "filename"}, inplace=True)

# üîç Debugging: Print column names again to verify
print("Columns in pd1 after renaming:", pd1.columns)
print("Columns in df after renaming:", df.columns)

Columns in pd1 after renaming: Index(['filename', 'true initial value', 'factor 1', 'factor 2', 'factor 3',
       'factor 4', 'factor 5', 'factor 6'],
      dtype='object')
Columns in df after renaming: Index(['filename', 'generated answer'], dtype='object')

In [36]:
pd1.columns = pd1.columns.str.strip().str.lower()
df.columns = df.columns.str.strip().str.lower()

# Rename columns to ensure consistency
pd1.rename(columns={"file name": "filename"}, inplace=True)
df.rename(columns={"file name": "filename"}, inplace=True)

# Perform a **clean** left merge on "filename"
pd1 = pd1.merge(df, on="filename", how="left")

pd1

,filename,true initial value,factor 1,factor 2,factor 3,factor 4,factor 5,factor 6,generated answer
0,1 McDonald's.pdf-all_items_item_5,"$45,000",NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,3 KFC.pdf-all_items_item_5.txt,"$45,000",NaN,NaN,NaN,NaN,NaN,NaN,"$ 45 , 000"
2,4 Burger King.pdf-all_items_item_5.txt,"$50,000","$25,000 (conditional FSS)","$15,000 (shorter period)",NaN,NaN,NaN,NaN,"$ 25 , 000"
3,5 Ace Hardware.pdf-all_items_item_5.txt,"$10,000","$5,000 (stock Fee )","$5,000(waivable adminfee",NaN,NaN,NaN,NaN,"$ 5 , 000"
4,6 Chick-fil-A.pdf-all_items_item_5.txt,$0,NaN,NaN,NaN,NaN,NaN,NaN,we
5,7 Subway.pdf-all_items_item_5.txt,"$15,000","$7,500(conditions)",$5000 (satellite franchise fee),$1000 (short term satellite fee),NaN,NaN,NaN,"$ 1 , 000"
6,8 Domino's.pdf-all_items_item_5.txt,"$10,000",$1500 (exisitng store transfer),NaN,NaN,NaN,NaN,NaN,"$ 0 to $ 10 , 000"
7,9 Circle K.pdf-all_items_item_5.txt,"$25,000","$15,000 per store(2-5 stores)","$10,000 per store(6-9store)","$7,500(10-19 stores)","$5,000 (20 stores)",NaN,NaN,"$ 25 , 000"
8,10 Taco Bell.pdf-all_items_item_5.txt,"$22,500",NaN,NaN,NaN,NaN,NaN,NaN,"$ 22 , 500"
9,11 Wendy's.pdf-all_items_item_5.txt,"$50,000.",NaN,NaN,NaN,NaN,NaN,NaN,"$ 20 , 000"
10,12 Pizza Hut.pdf-all_items_item_5.txt,"$25,000",NaN,NaN,NaN,NaN,NaN,NaN,"$ 25 , 000"
11,13 REMAX.pdf-all_items_item_5.txt,"$35,000(high density)","$17,500(low density)","$25,000(commercial)",NaN,NaN,NaN,NaN,"$ 25 , 000"
12,14 Dunkin'.pdf-all_items_item_5.txt,"$90,000( Type1)","$80,000(type 2)","$70,000(type3)","$60,000(type 4)","$50,000(type 5)","$40,000(type 6)",NaN,"$ 0 to $ 90 , 000"
13,15 Keller Williams.pdf-all_items_item_5.txt,"$35,000",NaN,NaN,NaN,NaN,NaN,NaN,"$ 35 , 000"
14,16 Tim Hortons.pdf-all_items_item_5.txt,"$50,000(STANDARD)","$25,000(NON STANDARD)",NaN,NaN,NaN,NaN,NaN,"$ 25 , 000"
15,17 Panera Bread.pdf-all_items_item_5.txt,"$35,000",NaN,NaN,NaN,NaN,NaN,NaN,thirty - five thousand dollars
16,18 Popeyes Louisiana Kitchen.pdf-all_items_ite...,"$50,000",NaN,NaN,NaN,NaN,NaN,NaN,"$ 50 , 000"
17,19 Dairy Queen.pdf-all_items_item_5.txt,"$45,000",NaN,NaN,NaN,NaN,NaN,NaN,"$ 45 , 000"
18,20 Sonic Drive-In.pdf-all_items_item_5.txt,"$45,000(traditional)","$22,500(non traditional)",NaN,NaN,NaN,NaN,NaN,"up to $ 30 , 000"
19,21 Little Caesars.pdf-all_items_item_5.txt,"$20,000",NaN,NaN,NaN,NaN,NaN,NaN,"$ 20 , 000"
20,22 Papa John's.pdf-all_items_item_5.txt,$5000-$25000,NaN,NaN,NaN,NaN,NaN,NaN,"$ 5 , 000 to $ 25 , 000"
21,23 Arby's.PDF-all_items_item_5.txt,"$37,500(standard)","$18,750 (non standard)",NaN,NaN,NaN,NaN,NaN,"$ 37 , 500"
22,24 Applebees.pdf-all_items_item_5.txt,"$35,000",NaN,NaN,NaN,NaN,NaN,NaN,"$ 35 , 000"
23,25 Express Employment Professionals.pdf-all_it...,"$40,000",NaN,NaN,NaN,NaN,NaN,NaN,"$ 40 , 000"
24,26 Chili's.pdf-all_items_item_5.txt,"$60,000","$40,000 (UDP)",NaN,NaN,NaN,NaN,NaN,"$ 60 , 000"
25,27 Jack In The Box.pdf-all_items_item_5.txt,"$50,000",NaN,NaN,NaN,NaN,NaN,NaN,"$ 50 , 000"
26,28 Buffalo Wild Wings.pdf-all_items_item_5.txt,"$30,000","$45,000(20 year agreement)",NaN,NaN,NaN,NaN,NaN,"$ 45 , 000"
27,29 Planet Fitness.pdf-all_items_item_5.txt,"$20,000",NaN,NaN,NaN,NaN,NaN,NaN,"$ 20 , 000"
28,30 Berkshire Hathaway.pdf-all_items_item_5.txt,"$25,000",NaN,NaN,NaN,NaN,NaN,NaN,"$ 25 , 000"
29,31 The UPS Store.pdf-all_items_item_5.txt,"$29,950","$19,950(under conditons)","$9,950 (Rural Area)",NaN,NaN,NaN,NaN,"$ 9 , 950"
30,32 Servpro.pdf-all_items_item_5.txt,"$90,000",NaN,NaN,NaN,NaN,NaN,NaN,"$ 90 , 000"
31,33 IHOP.pdf-all_items_item_5.txt,"$50,000(single)","$40,000(MULTI)","$0 TO $300,000(IHOP)",NaN,NaN,NaN,NaN,"between $ 0 to $ 300 , 000"
32,35 Five Guys.pdf-all_items_item_5.txt,"$25,000",NaN,NaN,NaN,NaN,NaN,NaN,"$ 25 , 000"
33,36 Denny's.pdf-all_items_item_5.txt,"$30,000","$10,000(10 YEAR AGREEME)",NaN,NaN,NaN,NaN,NaN,"$ 10 , 000"
34,37 Culver's.pdf-all_items_item_5.txt,"$55,000","$30,000(mentoring program)","$45,000(veteran discount)",NaN,NaN,NaN,NaN,"$ 55 , 000"
35,38 Wingstop.pdf-all_items_item_5.txt,"$20,000","$5,000(veteran)",NaN,NaN,NaN,NaN,NaN,"$ 20 , 000"
36,39 Jersey Mikes.pdf-all_items_item_5.txt,"$18,500",NaN,NaN,NaN,NaN,NaN,NaN,"$ 18 , 500"
37,40 Paris Baguette.pdf-all_items_item_5.txt,"$50,000","$40,000(multiple stores)",NaN,NaN,NaN,NaN,NaN,fifty thousand dollars
38,41 Hardee's.pdf-all_items_item_5.txt,"$25,000","$15,000(development agreem)",NaN,NaN,NaN,NaN,NaN,"$ 15 , 000"
39,42 Jimmy John's.pdf-all_items_item_5.txt,"$35,000",NaN,NaN,NaN,NaN,NaN,NaN,"$ 35 , 000"
40,43 Vavoline Instant Oil Change.pdf-all_items_i...,"$30,000(first center)","$20,000(second center)","$5,000(second center conversion)","$5,000(thrid and beyond)",NaN,NaN,NaN,"$ 30 , 000"
41,44 Home Instead.pdf-all_items_item_5.txt,"$54,000",NaN,NaN,NaN,NaN,NaN,NaN,"$ 54 , 000"
42,45 Zaxbys.pdf-all_items_item_5.txt,"$35,000",NaN,NaN,NaN,NaN,NaN,NaN,"$ 35 , 000"
43,46 Carl's Jr..pdf-all_items_item_5.txt,"$25,000",NaN,NaN,NaN,NaN,NaN,NaN,"$ 25 , 000"
44,47 Baskin Robbins.pdf-all_items_item_5.txt,"$25,000","$12,500 (gas station for 10 years)","$6,250 at SDO location","$10,000 (Combo)",NaN,NaN,NaN,"$ 12 , 500"
45,49 Snap-On Tools.pdf-all_items_item_5.txt,"$8,000 (min)","$16,000(max)",NaN,NaN,NaN,NaN,NaN,"$ 16 , 000"
46,50 Anytime Fitness.pdf-all_items_item_5.txt,"$42,500",NaN,NaN,NaN,NaN,NaN,NaN,"$ 42 , 500"
47,51 Jiffy Lube.pdf-all_items_item_5.txt,"$35,000 (new center)","$17,500 (converted center)",NaN,NaN,NaN,NaN,NaN,"$ 35 , 000"
48,52 Midas.pdf-all_items_item_5.txt,"$35,000 (new center)","$17,500 (converted center)",NaN,NaN,NaN,NaN,NaN,"$ 35 , 000"
49,54 Homevesters.pdf-all_items_item_5.txt,"$85,000 (Full)","$39,000(associate)","$76,500(veteran -full franchise)","$35,100(veteran associate)","$68,000 Multi full franchise","$31,200 Multi associate",NaN,"$ 85 , 000"

In [37]:
column_order = ["filename", "generated answer"] + [col for col in pd1.columns if col not in ["filename", "generated answer"]]
pd1 = pd1[column_order]  # Apply new order

In [39]:
pd1
pd1.to_csv("5_final_dataframe.csv", index=False)

In [40]:
pd1

,filename,generated answer,true initial value,factor 1,factor 2,factor 3,factor 4,factor 5,factor 6
0,1 McDonald's.pdf-all_items_item_5,NaN,"$45,000",NaN,NaN,NaN,NaN,NaN,NaN
1,3 KFC.pdf-all_items_item_5.txt,"$ 45 , 000","$45,000",NaN,NaN,NaN,NaN,NaN,NaN
2,4 Burger King.pdf-all_items_item_5.txt,"$ 25 , 000","$50,000","$25,000 (conditional FSS)","$15,000 (shorter period)",NaN,NaN,NaN,NaN
3,5 Ace Hardware.pdf-all_items_item_5.txt,"$ 5 , 000","$10,000","$5,000 (stock Fee )","$5,000(waivable adminfee",NaN,NaN,NaN,NaN
4,6 Chick-fil-A.pdf-all_items_item_5.txt,we,$0,NaN,NaN,NaN,NaN,NaN,NaN
5,7 Subway.pdf-all_items_item_5.txt,"$ 1 , 000","$15,000","$7,500(conditions)",$5000 (satellite franchise fee),$1000 (short term satellite fee),NaN,NaN,NaN
6,8 Domino's.pdf-all_items_item_5.txt,"$ 0 to $ 10 , 000","$10,000",$1500 (exisitng store transfer),NaN,NaN,NaN,NaN,NaN
7,9 Circle K.pdf-all_items_item_5.txt,"$ 25 , 000","$25,000","$15,000 per store(2-5 stores)","$10,000 per store(6-9store)","$7,500(10-19 stores)","$5,000 (20 stores)",NaN,NaN
8,10 Taco Bell.pdf-all_items_item_5.txt,"$ 22 , 500","$22,500",NaN,NaN,NaN,NaN,NaN,NaN
9,11 Wendy's.pdf-all_items_item_5.txt,"$ 20 , 000","$50,000.",NaN,NaN,NaN,NaN,NaN,NaN
10,12 Pizza Hut.pdf-all_items_item_5.txt,"$ 25 , 000","$25,000",NaN,NaN,NaN,NaN,NaN,NaN
11,13 REMAX.pdf-all_items_item_5.txt,"$ 25 , 000","$35,000(high density)","$17,500(low density)","$25,000(commercial)",NaN,NaN,NaN,NaN
12,14 Dunkin'.pdf-all_items_item_5.txt,"$ 0 to $ 90 , 000","$90,000( Type1)","$80,000(type 2)","$70,000(type3)","$60,000(type 4)","$50,000(type 5)","$40,000(type 6)",NaN
13,15 Keller Williams.pdf-all_items_item_5.txt,"$ 35 , 000","$35,000",NaN,NaN,NaN,NaN,NaN,NaN
14,16 Tim Hortons.pdf-all_items_item_5.txt,"$ 25 , 000","$50,000(STANDARD)","$25,000(NON STANDARD)",NaN,NaN,NaN,NaN,NaN
15,17 Panera Bread.pdf-all_items_item_5.txt,thirty - five thousand dollars,"$35,000",NaN,NaN,NaN,NaN,NaN,NaN
16,18 Popeyes Louisiana Kitchen.pdf-all_items_ite...,"$ 50 , 000","$50,000",NaN,NaN,NaN,NaN,NaN,NaN
17,19 Dairy Queen.pdf-all_items_item_5.txt,"$ 45 , 000","$45,000",NaN,NaN,NaN,NaN,NaN,NaN
18,20 Sonic Drive-In.pdf-all_items_item_5.txt,"up to $ 30 , 000","$45,000(traditional)","$22,500(non traditional)",NaN,NaN,NaN,NaN,NaN
19,21 Little Caesars.pdf-all_items_item_5.txt,"$ 20 , 000","$20,000",NaN,NaN,NaN,NaN,NaN,NaN
20,22 Papa John's.pdf-all_items_item_5.txt,"$ 5 , 000 to $ 25 , 000",$5000-$25000,NaN,NaN,NaN,NaN,NaN,NaN
21,23 Arby's.PDF-all_items_item_5.txt,"$ 37 , 500","$37,500(standard)","$18,750 (non standard)",NaN,NaN,NaN,NaN,NaN
22,24 Applebees.pdf-all_items_item_5.txt,"$ 35 , 000","$35,000",NaN,NaN,NaN,NaN,NaN,NaN
23,25 Express Employment Professionals.pdf-all_it...,"$ 40 , 000","$40,000",NaN,NaN,NaN,NaN,NaN,NaN
24,26 Chili's.pdf-all_items_item_5.txt,"$ 60 , 000","$60,000","$40,000 (UDP)",NaN,NaN,NaN,NaN,NaN
25,27 Jack In The Box.pdf-all_items_item_5.txt,"$ 50 , 000","$50,000",NaN,NaN,NaN,NaN,NaN,NaN
26,28 Buffalo Wild Wings.pdf-all_items_item_5.txt,"$ 45 , 000","$30,000","$45,000(20 year agreement)",NaN,NaN,NaN,NaN,NaN
27,29 Planet Fitness.pdf-all_items_item_5.txt,"$ 20 , 000","$20,000",NaN,NaN,NaN,NaN,NaN,NaN
28,30 Berkshire Hathaway.pdf-all_items_item_5.txt,"$ 25 , 000","$25,000",NaN,NaN,NaN,NaN,NaN,NaN
29,31 The UPS Store.pdf-all_items_item_5.txt,"$ 9 , 950","$29,950","$19,950(under conditons)","$9,950 (Rural Area)",NaN,NaN,NaN,NaN
30,32 Servpro.pdf-all_items_item_5.txt,"$ 90 , 000","$90,000",NaN,NaN,NaN,NaN,NaN,NaN
31,33 IHOP.pdf-all_items_item_5.txt,"between $ 0 to $ 300 , 000","$50,000(single)","$40,000(MULTI)","$0 TO $300,000(IHOP)",NaN,NaN,NaN,NaN
32,35 Five Guys.pdf-all_items_item_5.txt,"$ 25 , 000","$25,000",NaN,NaN,NaN,NaN,NaN,NaN
33,36 Denny's.pdf-all_items_item_5.txt,"$ 10 , 000","$30,000","$10,000(10 YEAR AGREEME)",NaN,NaN,NaN,NaN,NaN
34,37 Culver's.pdf-all_items_item_5.txt,"$ 55 , 000","$55,000","$30,000(mentoring program)","$45,000(veteran discount)",NaN,NaN,NaN,NaN
35,38 Wingstop.pdf-all_items_item_5.txt,"$ 20 , 000","$20,000","$5,000(veteran)",NaN,NaN,NaN,NaN,NaN
36,39 Jersey Mikes.pdf-all_items_item_5.txt,"$ 18 , 500","$18,500",NaN,NaN,NaN,NaN,NaN,NaN
37,40 Paris Baguette.pdf-all_items_item_5.txt,fifty thousand dollars,"$50,000","$40,000(multiple stores)",NaN,NaN,NaN,NaN,NaN
38,41 Hardee's.pdf-all_items_item_5.txt,"$ 15 , 000","$25,000","$15,000(development agreem)",NaN,NaN,NaN,NaN,NaN
39,42 Jimmy John's.pdf-all_items_item_5.txt,"$ 35 , 000","$35,000",NaN,NaN,NaN,NaN,NaN,NaN
40,43 Vavoline Instant Oil Change.pdf-all_items_i...,"$ 30 , 000","$30,000(first center)","$20,000(second center)","$5,000(second center conversion)","$5,000(thrid and beyond)",NaN,NaN,NaN
41,44 Home Instead.pdf-all_items_item_5.txt,"$ 54 , 000","$54,000",NaN,NaN,NaN,NaN,NaN,NaN
42,45 Zaxbys.pdf-all_items_item_5.txt,"$ 35 , 000","$35,000",NaN,NaN,NaN,NaN,NaN,NaN
43,46 Carl's Jr..pdf-all_items_item_5.txt,"$ 25 , 000","$25,000",NaN,NaN,NaN,NaN,NaN,NaN
44,47 Baskin Robbins.pdf-all_items_item_5.txt,"$ 12 , 500","$25,000","$12,500 (gas station for 10 years)","$6,250 at SDO location","$10,000 (Combo)",NaN,NaN,NaN
45,49 Snap-On Tools.pdf-all_items_item_5.txt,"$ 16 , 000","$8,000 (min)","$16,000(max)",NaN,NaN,NaN,NaN,NaN
46,50 Anytime Fitness.pdf-all_items_item_5.txt,"$ 42 , 500","$42,500",NaN,NaN,NaN,NaN,NaN,NaN
47,51 Jiffy Lube.pdf-all_items_item_5.txt,"$ 35 , 000","$35,000 (new center)","$17,500 (converted center)",NaN,NaN,NaN,NaN,NaN
48,52 Midas.pdf-all_items_item_5.txt,"$ 35 , 000","$35,000 (new center)","$17,500 (converted center)",NaN,NaN,NaN,NaN,NaN
49,54 Homevesters.pdf-all_items_item_5.txt,"$ 85 , 000","$85,000 (Full)","$39,000(associate)","$76,500(veteran -full franchise)","$35,100(veteran associate)","$68,000 Multi full franchise","$31,200 Multi associate",NaN